/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/framework/sessions
/.vscode
/.idea
/.env
/.env.*
/.DS_Store
/npm-debug.log
/yarn-error.log
/coverage
Homestead.yaml
Homestead.json
*.log
*.cache
*.sqlite*
composer.lock
package-lock.json
